{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-4">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="display-4 text-white fw-bold">Welcome to Missing Persons Registry</h1>
        <p class="lead text-white-50 mb-4">A platform to report, track, and help locate missing individuals in Kenya.</p>
    </div>
</header>

<!-- Key Features Section -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center fw-bold mb-4" style="font-size: 2rem;">Key Features</h2>
        <div class="row">
            <!-- Feature 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm border-light rounded">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-size: 1.5rem;">Report Missing Person</h5>
                        <p class="card-text" style="font-size: 1.2rem;">Easily report a missing person with detailed information and photos to help in the search.</p>
                    </div>
                </div>
            </div>
            <!-- Feature 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm border-light rounded">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-size: 1.5rem;">View Missing Persons Database</h5>
                        <p class="card-text" style="font-size: 1.2rem;">Browse through the latest reported missing persons and help spread the word.</p>
                    </div>
                </div>
            </div>
            <!-- Feature 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm border-light rounded">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-size: 1.5rem;">Advanced Search Functionality</h5>
                        <p class="card-text" style="font-size: 1.2rem;">Easily search for missing persons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Call to Action Section -->
<section class="bg-light py-5">
    <div class="container text-center">
        <h2 class="fw-bold mb-4">Help Us Make a Difference</h2>
        <p class="lead text-muted mb-4">Your involvement can help bring families together. Report a missing person today and help us make the world a safer place.</p>
        
    </div>
</section>

{% endblock %}
